@import '../../globals/base.scss';

.grid {
    grid-gap: gutter(6);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, $card-width), 1fr));
    justify-items: center;
    display: grid;

    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding-top: gutter(6);

	border-top: $border-default;
}
