@import '../../globals/base.scss';

.grid {
    flex: 1;
    overflow: scroll;

    width: calc(75%);
    margin-right: auto;
    margin-left: auto;
    
	border-top: $border-default;
}

.grid-scroll {
    padding-top: gutter(6);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, $card-width), 1fr));
    justify-items: center;
    display: grid;
}

.grid-end {
    display: block;
    font-family: 'Bebas Neue';
    color: $light-grey;
    grid-column: 1 / -1;
    margin-bottom: gutter(10);
}
