@import '../../globals.scss';

.title {
    margin: 0;

    color: transparent;

    font-weight: 800;
    font-size: 12vw;
    user-select: none;

    background: $black url(../../assets/images/poster.png) repeat 0 20%;
    background-clip: text;

    animation: translate-image-left 200s linear infinite;
}

@keyframes translate-image-left {
    from {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 1000%;
    }
}
